<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
		<% include public/link.ejs %>
		<!--
        	引入公共部分
    -->
  </head>
  <body>
  	<div style="margin: 10px;font-size: 25px;font-family: apple-font;">
  			overload
  			<div class="input-group" style="width: 250px;float: right;">
		      <input type="text" class="form-control">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button">GO</button>
		      </span>
		    </div>
    </div>
  	<div align="center">
  		<div class="index-div">
		    <h1><%= title %></h1>
		    <h4><%= des %></h4>
		   	<p>
		   		<a href="/socket">
		    		<button class="btn btn-primary btn-sm" style="width: 136px;"><%= content %></button>
		    	</a>
		    </p>
		  </div>
   	</div>
   	<% include public/footer.ejs %>
  </body>
</html>
