<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
		<% include public/link.ejs %>
		<!--
        	引入公共部分
    -->
  </head>
  <body>
  	<div style="margin: 10px;font-size: 25px;font-family: apple-font;">
  			overload
  			<div class="input-group" style="width: 250px;float: right;">
		      <input type="text" class="form-control">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button">GO</button>
		      </span>
		    </div>
    </div>
  	<div align="center">
  		<div class="index-div">
		    <h1><%= title %></h1>
		    <h4><%= des %></h4>
		   	<p>
		    	<button class="btn btn-primary btn-sm" style="width: 136px;"><%= content %></button>
		    </p>
		  </div>
   	</div>
   	<div class="index-footer" align="center">
   		<div style="margin-top: 30px;font-size: 15px;">
   			<div style="background-color: #FFFFFF;width: 30px;"><img src="/images/favicon.png" style="width: 30px;"></div>
   			<p style="color: #FFFFFF;">Copyright © 2017 void9main</p>
   		</div>
    </div>
  </body>
</html>
