<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<% include public/link.ejs %>
		<!--
        	引入公共部分
        -->
		<title></title>
	</head>
	<body style="background-image: url(/images/back.jpg);font-family: '微软雅黑';">
		<div>
			<div style="margin-top:25px;">
				<!--
                	div0
                -->
				<div class="socket-div" style="background-color: #376956;">
					<div style="margin: 10px;height: 680px;">
						<div style="float: left;height: 680px;width: 35%;background-color: #2e3238;">
							<div style="width: 30%;height: 50px;">
								<div style="margin: 10px;">
									<div>
										<img src="/images/man.jpg" style="width: 60px;float: left;" class="img-rounded"/>
									</div>
									<div style="float: right;color: #FFFFFF;">
										<p>立花泷</p>
									</div>
								</div>
							</div>
							<hr style="clear: both;">
							<div style="height: 630px;width: 100%;">
								<div align="center">
									<div class="input-group" align="center" style="width: 70%;">
								      <input type="text" class="form-control" style="height: 22px;"> 
								      <span class="input-group-btn">
								        <button class="btn btn-primary btn-xs" type="button">搜索</button>
								      </span>
								    </div>
								</div>
								<hr>
								<div style="margin: 10px;vertical-align:middle;">
									<a href="#">
										<img src="/images/woman.jpg" style="width: 40px;" class="img-rounded">
									</a>
									<span style="color: #FFFFFF;">三叶</p>
								</div>
								<div style="margin: 10px;vertical-align:middle;">
									<a href="#">
										<img src="/images/man.jpg" style="width: 40px;" class="img-rounded">
									</a>
									<span style="color: #FFFFFF;">立花泷</span>
								</div>
							</div>
						</div>
						<div style="float: left;height: 680px;width: 65%;background-color: #EEEEEE;">
							<div style="width: 100%;height: 530px;">
								
							</div>
							<hr style="background-color: #2e3238;height: 1px;">
							<div style="width: 100%;height: 150px;">
								<div style="width: 100%;height: 80px;">
									
								</div>
								<div style="width: 100%;height: 20px;margin: -5px;" align="right">
									<button class="btn btn-success btn-sm">发送</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--
                	div1
                -->
				<div class="socket-div" style="background-color: #376956;">
					<div style="margin: 10px;height: 680px;">
						<div style="float: left;height: 680px;width: 35%;background-color: #2e3238;">
							<div style="width: 30%;height: 50px;">
								<div style="margin: 10px;">
									<div>
										<img src="/images/woman.jpg" style="width: 60px;float: left;" class="img-rounded"/>
									</div>
									<div style="float: right;color: #FFFFFF;">
										<p>三叶</p>
									</div>
								</div>
							</div>
							<hr style="clear: both;">
							<div style="height: 630px;width: 100%;">
								<div align="center">
									<div class="input-group" align="center" style="width: 70%;">
								      <input type="text" class="form-control" style="height: 22px;"> 
								      <span class="input-group-btn">
								        <button class="btn btn-primary btn-xs" type="button">搜索</button>
								      </span>
								    </div>
								</div>
								<hr>
								<div style="margin: 10px;vertical-align:middle;">
									<a href="#">
										<img src="/images/man.jpg" style="width: 40px;" class="img-rounded">
									</a>
									<span style="color: #FFFFFF;">立花泷</span>
								</div>
								<div style="margin: 10px;vertical-align:middle;">
									<a href="#">
										<img src="/images/woman.jpg" style="width: 40px;" class="img-rounded">
									</a>
									<span style="color: #FFFFFF;">三叶</p>
								</div>
							</div>
						</div>
						<div style="float: left;height: 680px;width: 65%;background-color: #EEEEEE;">
							<div style="width: 65%;height: 530px;">
								
							</div>
							<hr style="background-color: #2e3238;height: 1px;">
							<div style="width: 65%;height: 150px;">
								
							</div>
						</div>
					</div>
				</div>
				<!--
                	div2
                -->
			</div>
		</div>
		<% include public/footer-solo.ejs %>
	</body>
</html>
