<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<% include public/link.ejs %>
		<!--
        	引入公共部分
        -->
		<title></title>
	</head>
	<body>
		<div class="row">
			<div style="margin-top:25px;">
				<div class="socket-div">
					111
				</div>
				<div class="socket-div">
					222
				</div>
			</div>
		</div>
	</body>
</html>
