a {
  color: #00B7FF;
}
@font-face {
    /* font-properties */
    font-family: apple-font;
    src:url('myriadsetpro-semibold.ttf'),  
}
.index-div{
	margin-top: 200px;font-family: apple-font;
}
.socket-div{
	width: 45%;float: left;margin-left: 4%;min-height: 700px;
}
.index-footer{
	width: 100%;height: 50px;position:fixed;bottom:0;
}
.socket-body{
	background-image: url(/images/back.jpg);font-family: '微软雅黑';
}
.socket-divmast{
	float: left;height: 680px;width: 35%;background-color: #2e3238;
}
.socket-divnast{
	float: left;height: 680px;width: 65%;background-color: #EEEEEE;
}
.socket-divnast-one{
	width: 100%;height: 20px;margin: -5px;margin-top: 10px;
}
.socket-div-rigth{
	margin: 10px;vertical-align:middle;
}
