a {
  color: #00B7FF;
}
@font-face {
    /* font-properties */
    font-family: apple-font;
    src:url('myriadsetpro-semibold.ttf'),  
}
.index-div{
	margin-top: 200px;font-family: apple-font;
}
.socket-div{
	width: 45%;float: left;margin-left: 4%;min-height: 700px;
}
.index-footer{
	width: 100%;height: 100px;position:fixed;bottom:0;
}