	<div class="index-footer" align="center">
   		<div style="margin-top: 30px;font-size: 15px;">
   			<div style="background-color: #FFFFFF;width: 30px;"><img src="/images/favicon.png" style="width: 30px;"></div>
   			<p>Copyright © 2017 void9main</p>
   		</div>
    </div>